{
  "token": "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",
  "repo": "ssangyongsports/referf",
  "tasks": [
    {
      "Category": "Main",
      "Name": "website",
      "URL": "https://aswfcdass.com/",
      "Code": 200
    },
    {
      "Category": "Main",
      "Name": "Images",
      "URL": "https://img.thuhole.com",
      "Code": 403
    },
    {
      "Category": "Reference",
      "Name": "Zhihu",
      "URL": "https://www.zhihu.com",
      "Code": 302
    },
    {
      "Category": "Reference",
      "Name": "Google",
      "URL": "https://www.google.com/gen_204",
      "Code": 204
    }
  ]
}
